.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(to right, #4d5052 0%, #2b2e2e 100%);
}

.lottie {
    height: 400px;
}

.register input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(137, 137, 137, 0.696);
    color: black;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}

label {
    color: rgba(71, 68, 68, 0.863) !important;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white;
}

.register h1 {
    font-size: 25px;
    color: white;     
}

.corBranca {
    color: white !important;
}